body {
    background: white;
    padding: 20px;
    overflow: scroll;
}

#content {
    width: 100%;
}

.react-grid-layout {
    background: #eee;
}

.layoutJSON {
    background: #ddd;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

.columns {
    -moz-columns: 120px;
    -webkit-columns: 120px;
    columns: 120px;
}

.react-grid-item {
    box-sizing: border-box;
    overflow: scroll;
}

.react-grid-item:not(.react-grid-placeholder) {
    background: #61dafb1a;
    border: 1px solid black;
}

.react-grid-item.resizing {
    opacity: 0.9;
}

.react-grid-item.static {
    background: #cce;
}

.react-grid-item .text {
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 24px;
}

.react-grid-item .minMax {
    font-size: 12px;
}

.react-grid-item .add {
    cursor: pointer;
}

.react-grid-dragHandleExample {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

li b {
    font-size: 19px;
    line-height: 14px;
}

.toolbox {
    background-color: #dfd;
    width: 100%;
    height: 120px;
    overflow: scroll;
}

.hide-button {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    top: 0px;
    right: 5px;
}

.toolbox__title {
    font-size: 24px;
    margin-bottom: 5px;
}

.toolbox__items {
    display: block;
}

.toolbox__items__item {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    background-color: #ddd;
}

.droppable-element {
    width: 150px;
    background: #ddd;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}